@charset "utf-8";

body {
    color: rgba(243, 236, 227, 0.941);
    font-family: "LINE Seed JP", sans-serif;
    font-weight: 400;
    font-style: normal;

    background-image:
    linear-gradient(90deg, rgba(41, 2, 17, 0.708) 50%, transparent 50%),
    url("nightview.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    width: calc(50% - 25px);


    font-weight: bold;
    font-size: 25px;
    line-height: 2;
    text-align: center;

}

@media screen and (max-width: 1200px) {
    body {
        background-image: 
        linear-gradient(rgba(41, 2, 17, 0.708)), 
        url("nightview.jpg");

        width: 100%;
 
        font-size: 15px;

    
}
}




h1, h2, h3 {
    text-shadow: 2.5px 2.5px 2.5px;
}


table {
    margin: auto;
    width: 400px;    
}

@media screen and (max-width: 1200px) {
    table {
        width: 200px;
    }
    
}




table,
th,
td {
    border: 1px solid #e5d2b2c0;
}

table {border-collapse: collapse;}




.InnocentWorld,
.BABYTHESTARSSHINEBRIGHT,
.AngelicPretty,
.MIHOMATSUDA,
.Victorianmaiden,
.MaryMagdalane,
.JulietteetJustine,
.Moi-meme-Moitie {color: #b4647deb;}


.InnocentWorld,
.BABYTHESTARSSHINEBRIGHT,
.AngelicPretty,
.MIHOMATSUDA,
.Victorianmaiden,
.MaryMagdalane,
.JulietteetJustine,
.Moi-meme-Moitie {text-shadow: 2.5px 2.5px 2.5px;
                }



.InnocentWorld:hover,
.BABYTHESTARSSHINEBRIGHT:hover,
.AngelicPretty:hover,
.MIHOMATSUDA:hover,
.Victorianmaiden:hover,
.MaryMagdalane:hover,
.JulietteetJustine:hover,
.Moi-meme-Moitie:hover {color: rgba(146, 9, 69, 0.938);}

    



ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    color: #dda1b2eb;
    clolist-style: none;
    padding: 0;
}

footer a {
    color: #dda1b2eb;
    clolist-style: none;
    padding: 0;
}


.link-container {
    display: flex;
    flex-direction: column;
}

.link-items {
    color: rgba(243, 236, 227, 0.941);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color .8s;
}

.link-items:hover {
    border-bottom: 2px solid rgba(237, 219, 197, 0.941);

}
